@page "/"
@using static BluehillNuGetPages.Packages

<h1>Bluehill's NuGet packages</h1>

<p>This is Bluehill's NuGet packages list.</p>

<p>You can try out some packages at <NavLink href="try">this link</NavLink>.</p>

<h2>Libraries</h2>

<ul>
    <li><a href="@Hangul">Bluehill.Hangul</a></li>
    <li><a href="@Deconstructors">Bluehill.Deconstructors</a></li>
    <li><a href="@Analyzers">Bluehill.Analyzers</a></li>
    <li><a href="@CompilerServices">Bluehill.CompilerServices</a></li>
    <li><a href="@NativeCom">Bluehill.NativeCom</a></li>
    <li><a href="@StringExtensions">Bluehill.StringExtensions</a></li>
</ul>

<h2>Templates</h2>

<ul>
    <li><a href="@SdkStyleTemplates">Bluehill.SdkStyleTemplates</a></li>
</ul>
